title = "Contato"
url = "/contato"
layout = "default"
is_hidden = 0

[simpleContact]
nameTitle = "Nome"
emailTitle = "Email"
phoneTitle = "Telefone"
subjectTitle = "Assunto"
messageTitle = "Mensagem"
buttonText = "Enviar"
displayPhone = 1
==
{% put jumbotron %}
  <h1 class="display-3">Entre em contato !!!</h1>
{% endput %}

<div class="container">
    <div class="col-lg-12">
        {% component 'simpleContact' %}
    </div>
</div>