title = "home"
url = "/"
layout = "default"
is_hidden = 0
==
{% put jumbotron %}
  <h1 class="display-3">Brasileirão 2020</h1> 
  <p>Tudo sobre seu time do coração</p>
{% endput %}

<div class="page-header-image" data-parallax="true">
    <img src="{{'assets/images/brasileiro.jpg' | theme}}">
</div>