title = "noticias"
url = "/noticias"
layout = "default"
is_hidden = 0
==
{% put jumbotron %}
  <h1 class="display-3">Notícias do seu time</h1>
  <p class="lead">Brasileirão 2020</p>
  <p>Acesse a página <a href="https://www.google.com/search?gs_ssp=eJzj4tTP1TdIy8s2LzRg9OJOKkoszsxJzSxKzAcAXOUICQ&q=brasileirao&rlz=1C1EJFC_enBR878BR878&oq=bras&aqs=chrome.2.69i57j35i39j46l2j0j69i60l3.5751j0j9&sourceid=chrome&ie=UTF-8#sie=lg;/g/11fmzksb3y;2;/m/0fnk7q;nw;fp;1;;">Google esporte</a></p>
{% endput %}