title = "Tabela"
url = "/tabela"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{% put jumbotron %}
  <h1 class="display-3">Tabela completa</h1>
{% endput %}

<div class="container">
    <div class="col-lg-12">
        {% component 'blogPosts' %}
    </div>
</div>