description = "Navigation bar"
==
<section id="navbar" class="m-b-3">
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ 'features'|page }}">October com Futebol</a>
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item{{ this.page.baseFileName == 'home' ? ' active' }}">
					<a class="nav-link" href="{{ 'home'|page }}">Home</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'noticias' ? ' active' }}">
					<a class="nav-link" href="{{ 'noticias'|page }}">Noticias</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'tabela' ? ' active' }}">
					<a class="nav-link" href="{{ 'tabela'|page }}">Tabela</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'jogos' ? ' active' }}">
					<a class="nav-link" href="{{ 'jogos'|page }}">Jogos</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'artileiros' ? ' active' }}">
					<a class="nav-link" href="{{ 'artileiros'|page }}">Artileiros</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'contato' ? ' active' }}">
					<a class="nav-link" href="{{ 'contato'|page }}">Contato</a>
				</li>
			</ul>
		</div>
	</nav>
</section>